@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-Thin.otf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-ThinItalic.otf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-Extralight.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-ExtralightItalic.otf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-LightItalic.otf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-RegularItalic.otf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-MediumItalic.otf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-Semibold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-SemiboldItalic.otf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-BoldItalic.otf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-Black.otf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-BlackItalic.otf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-Super.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: asset-url('fonts/Graphik-SuperItalic.otf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

