<div id="cookies-popUp" class="cookies-container hide-popUp">
  <div class="cookies-relative">
    <div class="div-blur"></div>
    <div class="div-topblur">
      hello do you agree ?
    </div>
    <div id="close-popUp" class="close-popUp">x</div>
  </div>
</div>
<style>
.cookies-container {
  background: transparent;
  position: fixed;
  bottom: 0px;
  max-width: 1440px;
  width: 100%;
  text-align: center;
}
.cookies-container.hide-popUp {
  display: none;
}
.cookies-relative {
  position: relative;
}
.div-blur, .div-topblur {
  background: rgba(160,160,160,0.5);
  width: 100%;
}
.div-topblur {
  width: 100%;
  padding: 10px 0px;
}
.close-popUp {
  background: red;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}
</style>
<script>
  document.querySelector('#close-popUp').addEventListener('click', () => {
    document.querySelector('#cookies-popUp').classList.add('hide-popUp')
  })

</script>
