#about-section {
  background-color: #E6F5FA;
  div > h1 {
    margin-bottom: 40px;
  }



  .history {
    padding: 114px 160px 48px 160px;
    div {
      max-width: 665px;
    }
  }

  .mission {
    padding: 33px 160px 48px 160px;
    background-color: #FFFFFF;
    div {
      max-width: 665px;
      text-align: initial;
    }
  }

  .values {
    padding: 33px 160px 28px 160px;
    background-color: #FFCFC5;
    .values-wrapper {
      display: flex;
      flex-wrap: wrap;
      div {
        width: calc(33.3% - 53px);
        margin-right: 53px;
        margin-bottom: 20px;
      }
    }
  }

  .founders {
    padding: 33px 160px 48px 160px;
    background-color: #FFFFFF;
    div {
      display: flex;
      justify-content: space-between;
      .founders-content {
        margin: auto 0px;
        div {
          display: flex;
          flex-direction: column;
          max-width: 500px;
        }
      }
    }
    .flex-right {
      max-width: 1000px;
      margin: auto;
      padding: 0px 120px;
      margin-bottom: 75px;
      margin-top: 60px;
      flex-direction: row;
      .founders-avatar {
        margin-right: 80px;
      }
    }
    .flex-left {
      max-width: 1000px;
      margin: auto;
      padding: 0px 120px;
      margin-bottom: 75px;
      flex-direction: row-reverse;
      .founders-avatar {
        margin-left: 80px;
      }
    }
  }

  .catch-phrase {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }

}

.navbarseethrough.in-about {
  margin: 23.5px;
}

