#about-section {
  background-color: #E6F5FA;



  .history {
    padding: 114px 160px 160px 160px;
    div {
      max-width: 665px;
    }
  }

  .mission {
    padding: 70px 160px 160px 160px;
    background-color: #FFFFFF;
    div {
      max-width: 665px;
      text-align: initial;
    }
  }

  .values {
    padding: 70px 160px 160px 160px;
    background-color: #FFCFC5;
  }

}

.navbarseethrough.in-about {
  margin: 24px;
}

