.navbardarkblue {
  background: #18273A;
  height: 80px;
  img {
    margin: 26px;
  }
}

#cgu-section {
  background: url(stickers/gommette_2.svg) -20px 20% / 10rem no-repeat;
  background-color: #FFFFFF;
}
.cgu-container {
  min-height: calc(100vh - 80px);
  margin: 0px auto;
  max-width: 925px;
  padding: 33px 40px;
  h1 {
    text-align: center;
    margin-bottom: 64px;
    margin-top: 0px
  }
  p {
    margin: 40px auto 50px;
  }
}

.tab-first-column {
  max-width: 500px;
}

td {
  border: solid 0.5px black;
  padding: 4px;
}

.cgu-mailto {
  color: pink;
}

@media (max-width: 425px) {
  .cgu-container {
    padding: 0px 24px;
  }
  .navbardarkblue {
    height: 60px;
    img {
      height: 30px;
      margin: 15px;
    }
  }
}
