#contact-section {
  background:
    url(stickers/gommette_1.svg) 110% 50% / 16rem no-repeat;
  hr {
    margin: 17px 0px;
  }
  h1 {
    margin-top: 4px;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    div {
      padding-top: 145px;
      min-height: calc(100vh - 358px);
    }
  }
  .coq-wrapper {
    width: 50%;
    background-color: #F9F9F9;
  }

  .coq-container {
    padding-top: 0px !important;
    height: 80%;
    width: 100%;
    background: url(animals/coq.svg) 0px 60% / contain no-repeat;
  }

  .contact-content {
    max-width: 500px;
    margin: 0px auto;
  }
  .cat-conatct {
    opacity: 0.5;
  }

}

.navbarseethrough.in-contact {
    z-index: 2;
    background:
    url(stickers/gommette_1.svg) 50% 105% / 16rem no-repeat;
  img {
    margin: 23.5px;
  }

}

@media (max-width: 1024px) {
  .coq-wrapper {
    display: none;
  }
}
