#contact-section {
  background:
    url(pages-contact/gommette_contact_2.svg) 100% 50% / 8rem no-repeat;
    background-color: #FFFFFF;
  hr {
    margin: 17px 0px;
    opacity: 0.5;
    border: solid 0.5px rgba(0,0,0,0.1);
  }
  a {
    text-decoration: none;
    color: initial;
  }
  h1 {
    margin-top: 4px;
  }
  .coq-wrapper {
    width: 38%;
    background-color: #F9F9F9;
  }

  .coq-container {
    padding-top: 0px;
    height: 80%;
    width: 100%;
    background: url(animals/coq.svg) 0px 60% / contain no-repeat;
  }

  .contact-content {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 570px;
    margin: 0px auto;
  }
  p.cat-contact {
    opacity: 0.5;
    margin: 0px;
  }
  p {
    margin: 0px;
  }
  .contact-content > p:last-child {
    margin-bottom: 51px;
  }

}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  div {
    padding-top: 145px;
    min-height: calc(100vh - 358px);
  }
}

.navbarseethrough.in-contact {
  img {
    margin: 23.5px;
  }
}

.gommette-pages-img {
  position: absolute;
  left: calc(50% - 250px);
}

@media (max-width: 1024px) {
  .coq-wrapper {
    display: none;
  }
  .gommette-pages-img {
    display: none;
  }
}

@media (max-width: 768px) {
  .coq-wrapper {
    display: none;
  }
  .contact-content {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media (max-width: 768px) {
  #contact-section {
    background: #FFFFFF;
  }
}

@media (max-width: 425px) {
  .navbarseethrough.in-contact {
    img {
      height: 30px;
      margin: 15px;
    }
  }
  .contact-content {
    img {
      height: 120px;
    }
  }
  .contact-wrapper {
    div {
      padding-top: 80px;
    }
  }
}

