#contact-section {
  .guide-request {
    display: flex;
    flex-direction: column;
    margin-bottom: 122px;
    input {
      height: 46px;
      border-radius: 8px;
      margin-bottom: 10px;
      border: solid 1px rgba(0,0,0, 0.2);
    }
    label {
      margin-bottom: 10px;
    }
  }

  .text {
    padding: 1px 1px 1px 14px;
    font-size: 16px;
  }
  .submit {
    font-size: 16px;
    font-weight: 800;
    padding: 12px 4px;
    background: #18273A;
    color: #FFFFFF;
  }
}
