.navbarseethrough {
	position: absolute;
	height: 80px;
	width: 100%;
}

#homelogo {
	height: 43px;
	margin-left: 21.5px;
	margin-top: 21.5px;
}

#homegrid {
	display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "seconeA seconeA seconeB seconeB"
    "sectwoA sectwoA sectwoB sectwoB"
    "secthreeA secthreeB secthreeC secthreeD"
    "secfour secfour secfour secfour"
    "secfiveA secfiveA secfiveB secfiveB"
    "secsixA secsixA secsixB secsixB"
    "secsevenA secsevenA secsevenB secsevenB"
    "seceight seceight seceight seceight"
}

#section1A {
	font-size: 1rem;
	grid-area: seconeA;
	padding: 100px 80px 80px 80px;
  background:
    url(others/arbre.svg) 95% 100% / 6rem no-repeat,
    url(stickers/gommette_6.svg) 110% -40% / 25rem no-repeat,
    url(others/ensemble_1.svg) 60% 100% / 28rem no-repeat,
    url(others/quarter_blue.svg) calc(2% + 6rem) 100% / 6rem no-repeat,
    url(others/quarter_pink.svg) 2% 100% / 6rem no-repeat;
  background-color: #FFE1DC;
	h3 {
		margin: 0.1em 0;
	}
	h2 {
		margin: 0.1em 0;
	}
	form {
		input {
			background-color: rgba(255, 255, 255, 0.4);
		}
		button {
			background-color: #18273A;
		}
	}
}

#section1B {
	font-size: 1rem;
	grid-area: seconeB;
	padding: 100px 80px 80px 80px;
  background:
    url(others/ensemble_5.svg) 2% 100% / 6rem no-repeat,
    url(others/half_blue.svg) calc(2% + 6rem) 100% / 6rem no-repeat,
    url(animals/poussin_blanc.svg) 70% 100% / 4rem no-repeat,
    url(animals/poussin_blanc.svg) calc(70% + 4rem) 100% / 4rem no-repeat,
    url(others/grand_sapin_2.svg) 90% 100% / 8rem no-repeat;
  background-color: #18273A;
	h3 {
		margin: 0.1em 0;
	}
	h2 {
		margin: 0.1em 0;
	}
	form {
		::-webkit-input-placeholder {
		  color: white;
		}
		input {
			background-color: rgba(255, 255, 255, 0.4);
			color: white;
		}
		button {
			background-color: #7ACCC5;
			color: #18273A;
		}
	}
}
#subsection1B {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	img {
			height: auto;
			max-width: 250px;
	}
	p {
		text-align: right;
	}
	a {
		padding: 10px;
		font-weight: 500;
		float:right;
		border-radius: 8px;
		background-color: #DEE0E2;
		color: #18273A;
		text-decoration: none;
	}
}

#section2A {
	grid-area: sectwoA;
	padding: 80px 50px 80px 100px ;
  background:
    url(stickers/gommette_1.svg) -40% 5%/ 20rem no-repeat;
	.content {
		img {
			height: auto;
			max-width: 100%;
		}
	}
}

#section2B {
	font-size: 1rem;
	padding: 80px;
	grid-area: sectwoB;
	h2 {
		margin-top: 0;
	}
}

#section3A {
  background: url(stickers/gommette_1.svg) -100px 0% / 25rem no-repeat;
}

#section3B {
	grid-area: secthreeB;
	padding: 20px 50px 80px 50px;
}
#section3C {
	grid-area: secthreeC;
	padding: 20px 50px 80px 50px;
}
#section3D {
	grid-area: secthreeD;
	padding: 20px 50px 80px 50px;
}
#section4 {
	grid-area: secfour;
  background:
    url(animals/poussin_blanc.svg) 6%  100% / 4rem no-repeat,
    url(animals/poussin_blanc.svg) calc(6% + 5rem) 100% / 4rem no-repeat;
  background-color: #18273A;
}

#section5A {
	grid-area: secfiveA;
	background-color: #FFCFC5;
	padding: 50px 150px;
	h2 {
		margin-top: 0;
	}
}
#section5B {
	grid-area: secfiveB;
	background-image: url(pictures/watching_see.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#section6A {
  grid-area: secsixA;
  background-color: red;
  #coq {
    height: 30rem;
    position: absolute;
    left: 0;
    bottom: 5%;
  }
}

#section6B {
	grid-area: secsixB;
	padding: 80px;
	.content{
		h2{
			margin-top: 0;
		}
		p{
			margin-top: 0;
			margin-left: 10px;
		}
	}
	.flex{
		align-content: flex-start;
	}
}
#section7A {
	grid-area: secsevenA;
	padding: 80px;
	.content{
		h2{
			margin-top: 0;
		}
		p{
			margin-top: 0;
			margin-left: 10px;
		}
	}
	.flex{
		align-content: flex-start;
	}
}
#section7B {
	grid-area: secsevenB;
	background-image: url(pictures/baby_on_plane.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#section8 {
	padding: 80px 50px;
	grid-area: seceight;
	.content {
		position: relative;
		display: flex;
		height: 196px;
		width: 60%;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: white;
	}
	img {
		height: 88px;
		position: absolute;
		top: -44px;
	}
}



