<div class="navbarseethrough in-about">
  <%= link_to root_path do %>
    <%= image_tag "logo-pink-black.svg", height: 47 %>
  <% end %>
</div>

<section id="about-section">
  <div class="history">
    <div>
      <h1>Notre histoire</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe incidunt distinctio debitis eligendi vel placeat suscipit, harum soluta. Magni deleniti quidem quos voluptatum, facilis dicta quam veritatis voluptatem cum iusto?</p>
    </div>
  </div>
  <div align="right" class="mission">
    <div>
      <h1>Notre mission</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe fuga assumenda voluptatum fugit praesentium consequuntur error quas velit aspernatur consectetur voluptatem, provident et nihil temporibus. Velit cumque aperiam, reprehenderit iusto.</p>
    </div>
  </div>
  <div class="values">
    <h1>Nos valeurs</h1>
    <div>
      <div>Hello</div>
      <div>Hello</div>
      <div>Hello</div>
      <div>Hello</div>
      <div>Hello</div>
    </div>
  </div>
  <div>
    <h1>Les fondateurs</h1>
    <div>
      <div></div>
      <div></div>
    </div>
    <div>
      <div></div>
      <div></div>
    </div>
    <div></div>
  </div>
  <div>
    <div></div>
  </div>
</section>
