<div class="navbardarkblue">
  <%= link_to root_path do %>
    <%= image_tag "logos/logo_blanc.svg", height: 28 %>
  <% end %>
</div>
<section id="cgu-section">
  <div class="cgu-container">
    <h1>Cond<span class="linepink">itions Gén</span>érales d’Utilisation</h1>
    <h3 class="lineblue">Définitions</h3>
    <p>



    CGU ou Conditions générales d’utilisation désigne le présent document comme étant le fondement contractuel entre les Parties, à savoir les Utilisateurs et Woonies, applicables aux Services. <br><br>



    Contenus désigne les descriptions et les messages échangés entre les Utilisateurs. <br><br>



    Données à caractère personnel ou Données personnelles désigne toute information se rapportant à une personne physique identifiée ou identifiable ; est réputée être une « personne physique identifiable » une personne physique qui peut être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale.<br><br>



    Identifiants désigne toutes les informations de l’Utilisateur, notamment adresse e-mail et mot de passe confidentiel, nécessaires à sa connexion sur la Plateforme et à l’accès aux Services.<br><br>



    Parents désigne les pères et/ou mères et/ou dépositaires de l’autorité parentale (personnes physiques) utilisant les services digitaux de Woonies.<br><br>



    Parties désigne l’Utilisateur et Woonies.<br><br>



    Plateforme Conformément à l’article 49 de la loi n°2016-1321 du 7 octobre 2016 pour une République numérique, est qualifiée d'opérateur de plateforme en ligne toute personne physique ou morale proposant, à titre professionnel, de manière rémunérée ou non, un service de communication au public en ligne reposant notamment sur la mise en relation de plusieurs parties en vue de la vente d'un bien, de la fourniture d'un service ou de l'échange ou du partage d'un contenu, d'un bien ou d'un service.<br><br>

    Woonies est donc un opérateur de plateforme. A ce titre, le terme Plateforme désigne indifféremment le Site www.woonies.com et ses déclinaisons, assurant la fourniture des Services proposés par Woonies.<br><br>



    Professionnels de la petite enfance désigne toute personne physique ou morale ayant procédé à son inscription aux Services proposés par Woonies, respectant les conditions établies par Woonies afin que son inscription soit validée.<br><br>



    Services désigne les services de recherche et de réservation en ligne chez les Professionnels de la petite enfance par les Parents qui sont fournis par Woonies.<br><br>



    Utilisateur ou « vous » désigne toute personne qui utilise la Plateforme, qui dispose d’un compte ou qui accède simplement aux services digitaux de Woonies. </p>






    <h3 class="lineblue">Dispositions générales</h3>

    <p>

    Les présentes CGU s’appliquent à tous les Utilisateurs de la Plateforme et ont pour objet de définir les conditions dans lesquelles ils peuvent accéder aux Services et les utiliser.<br><br>



    Tout Utilisateur qui accède aux Services proposés par Woonies s’engage à respecter, sans réserve, les présentes CGU.<br><br>



    En cas de désaccord avec une quelconque disposition de ces CGU, nous vous invitons à cesser d’utiliser notre Plateforme. </p>






    <h3 class="lineblue">Relations entre Woonies et les Utilisateurs</h3>



    <p>    La relation entre Woonies et les Utilisateurs de la Plateforme est uniquement une relation commerciale qui implique l’application des présentes CGU.<br><br>



    Dans le cadre de nos Services, nous ne sommes juridiquement pas mandatés par les Parents dans la recherche de Professionnels de la petite enfance.<br><br>



    Nous ne pouvons être reconnus comme étant employeurs des Professionnels de la petite enfance utilisant la Plateforme. Ces Professionnels exercent leur activité de façon indépendante.<br><br>



    Nous n’intervenons pas dans les relations contractuelles entre les Parents et les Professionnels de la petite enfance, et nous nous dégageons de toute responsabilité quant aux obligations de ces derniers dans leur besoin et leur activité respectifs. Ils s’engagent donc à respecter leurs obligations contractuelles et à s’acquitter de tout paiement, charge, taxe et autres frais, pour lesquels nous ne sommes pas responsables. Aucune de ces parties ne peut engager notre responsabilité pour le manquement d’une obligation de l’autre partie, notamment en cas de carence de paiement.</p>







    <h3 class="lineblue">Champs d’application des CGU</h3>




    <h4>Capacité</h4>



    <p>    Conformément à l’article 1145 du code civil, toute personne physique peut contracter sauf en cas d’incapacité prévue par la loi.<br><br>



    En tant qu’Utilisateur de la Plateforme ayant accepté les présentes CGU, vous vous engagez à respecter les règles relatives à la capacité de contracter dans le cadre de l’utilisation de nos Services.<br><br>



    Particulièrement, les Parents s’engagent à disposer de l’autorité parentale pour effectuer une demande de réservation chez un Professionnel sur notre Plateforme. Conformément à la loi, les Utilisateurs réservant pour le compte d’une personne mineure doivent être les représentants légaux de cette dernière afin de délivrer le consentement au traitement de ses Données personnelles. Nous nous dégageons de toute responsabilité quant aux réservations des Parents en tant que représentants légaux des enfants concernés. Seuls ces Utilisateurs Parents sont responsables de la véracité du statut déclaré.</p>






    <h4>Accès à la Plateforme et renseignements fournis</h4>



    <p>Toute personne qui s’inscrit ou effectue une demande de réservation sur la Plateforme et qui accède à nos Services est responsable des informations qu’elle fournit. En tant qu’Utilisateur, vous vous engagez à fournir des informations, vraies, exactes et complètes sur votre identité et votre activité professionnelle (si vous êtes un Utilisateur Professionnel de la petite enfance), conformément au formulaire d’inscription ou de demande de réservation fournis par nos soins.<br><br>



    Professionnels, vous vous engagez à tenir à jour vos informations, notamment en cas de modifications, que ces modifications soient mineures ou non.<br><br>



    Si nous découvrons que les informations que vous avez fournies sont fausses, fraudeuses, douteuses, trompeuses, incomplètes, inexactes, nous nous réservons le droit de suspendre votre compte sans délai, sans préavis et sans indemnité. Dans le cadre de cette découverte, l’accès à la Plateforme et aux Services pourra vous être refusé de façon temporaire ou définitive, cette décision étant à notre discrétion.<br><br>



    Vous êtes seul responsable de la protection de vos Identifiants et de la conservation de vos mots de passe en lieu sûr. Nous vous invitons à prendre les mesures de sécurité nécessaires à cet effet, notamment en procédant systématiquement à une déconnexion après chaque fin d’utilisation de la Plateforme. Tout accès à la Plateforme utilisant vos Identifiants sera réputé comme étant effectué par vos soins. Nous ne sommes pas responsables des accès frauduleux à votre compte utilisateur.<br><br>



    En cas d’accès non autorisé à votre compte, de perte ou de détournement de vos moyens d’identification, vous êtes seul responsable des conséquences de ce détournement ou de cette perte, si cela n’est pas dû à une carence de sécurité prouvée de la part de Woonies. A ce titre, vous vous engagez à nous avertir dans les plus brefs délais en indiquant votre identité (prénom, nom, type d’Utilisateur (Parent ou Professionnel de la petite enfance, adresse e-mail utilisée comme Identifiant) à l’adresse e-mail suivante : support@woonies.com.
    </p>





    <h4>Services</h4>



    <p>    Nos Services permettent la mise en relation entre des Professionnels de la petite enfance et des Parents. Les Parents peuvent rechercher un Professionnel de la petite enfance, correspondant à différents critères et dont le profil a été vérifié et validé par nos soins conformément à nos objectifs : des Professionnels agréés par la PMI (Protection Maternelle et Infantile) uniquement, et effectuer une demande de réservation en ligne, à tout moment.<br><br>



    Nos Services vous sont fournis à titre gratuit.<br><br>



    Toutefois, le matériel de connexion (ordinateur, logiciels, équipements réseaux, tablettes, téléphones, etc.) à la Plateforme et aux Services que vous utilisez est à votre charge exclusive, de même que les frais de communication (téléphonique, électronique via internet, etc.) résultant de votre utilisation.</p>






    <h4>Utilisation de la Plateforme et responsabilité</h4>



    <p>Toute demande de réservation est transmise en temps réel au Professionnel de la petite enfance qui est seul responsable de la réponse formulée (validation ou refus de la demande). Nous ne garantissons pas à nos Utilisateurs un temps de réponse minimal ou maximal et ne pourrons être tenus responsables de l’absence de réponse d’un Professionnel de la petite enfance.<br><br>



    L’Utilisateur est informé du fait que la demande de réservation via nos Services constitue un engagement ferme de sa part et que toute non présentation à une réservation validée ou à un rendez-vous (une Réservation ou rendez-vous « non honoré ») doit faire l’objet d’une annulation préalable ou d’une demande de modification auprès du Professionnel de la petite enfance concerné.<br><br>



    Nous ne sommes en aucun cas responsables de l’annulation d’une demande de réservation ou d’une réservation validée par un Utilisateur.<br><br>



    L’Utilisateur est informé être responsable des Contenus qu’il crée sur la Plateforme, qu’ils fassent ou non l’objet d’une modération de notre part. Vous vous engagez notamment à ce que vos Contenus :<br>

     - ne comportent pas de données sensibles, notamment des données de santé sur les enfants ;<br>

     - soient conformes à la réalité et ne comportent pas un caractère mensonger ;<br>

     - ne soient pas contraires à l’ordre public et aux bonnes mœurs ;<br>

     - ne portent pas atteinte à la vie privée, à l’intimité de la vie privée ou au droit à l’image des personnes ;<br>

     - ne présentent pas un caractère violent, pornographique, pédophile et ne portent pas atteinte aux mineurs ;<br>

     - ne soient pas menaçant à l’égard une personne ou un groupe de personnes ;<br>

     - ne présentent pas un caractère diffamatoire, injurieux, calomnieux à l’égard d’une personne ou d’un groupe de personnes ;<br>

     - ne présentent pas un caractère raciste, xénophobe ou portant atteinte à l’honneur ou à la réputation d’autrui, incitant à la discrimination, à la haine ou à la violence à l’égard d’une personne ou d’un groupe de personnes ;<br>

     - ne portent pas sur des activités illicites.<br><br>



    L’Utilisateur est informé que nous nous réservons le droit de ne pas afficher ses Contenus, de limiter son accès à la Plateforme ou de suspendre son compte en cas de manquement aux présentes CGU.<br><br>



    L’Utilisateur autorise les Professionnels de la petite enfance, via Woonies, et/ou nous autorise à lui envoyer des SMS ou e-mails dont l’objet est de lui délivrer des informations au sujet de ses demandes de réservations, réservations validées et des invitations de Professionnels.<br><br>



    Nous rappelons que le fait d’accéder ou de se maintenir frauduleusement dans un système informatique, d’entraver ou de fausser le fonctionnement d’un tel système, d’introduire ou de modifier frauduleusement des données dans un système informatique constituent des délits passibles de sanctions pénales.<br><br>



    Toute décision prise à partir des informations ou de l’utilisation de la Plateforme engagera uniquement son auteur, nous ne sommes en aucun cas responsables de ces décisions, de façon directe ou indirecte, ni des dommages, directs ou indirects, qui en découleraient. Nous nous dégageons également de toute responsabilité découlant de la transmission d’informations ou de données identifiées comme confidentielles par un tiers sur le réseau internet.<br><br>



    Nous nous efforçons également de fournir un environnement de sécurité adéquat dans l’utilisation de la Plateforme et des Services fournis. La Plateforme est protégée avec une connexion « https ».<br><br>



    Nous ne sommes pas responsables des dommages causés à vous-même, à des tiers et/ou à votre équipement du fait de votre connexion ou de votre utilisation de notre Plateforme, vous renoncez à toute action contre nous de ce fait. Si une procédure amiable ou judiciaire a raison de votre utilisation de la Plateforme, nous pourrons nous retourner contre vous pour obtenir l’indemnisation de tous les préjudices, sommes, indemnités, condamnations et tous frais qui pourraient découler de cette procédure.<br><br>



    Le matériel de connexion (ordinateur, logiciels, équipements réseaux, tablettes, téléphones…) à la Plateforme que vous utilisez est sous votre entière responsabilité. Nous vous prions de bien vouloir prendre toutes les mesures nécessaires et appropriées pour protéger votre matériel et vos propres données notamment des incidents d’attaques virales. Vous êtes par ailleurs seul responsable des sites et données que vous consultez. Vous êtes seul responsable des éventuelles contaminations par virus circulant sur le réseau internet. Vous devez prendre toutes les mesures adéquates et appropriées pour protéger vos Données personnelles et vos logiciels d’une telle contamination.<br><br>



    De même, vous reconnaissez que vous êtes responsable de votre accès à internet et des réseaux de communication que vous utilisez (réseau filaire, fibre optique, 4G, 3G, etc.) qui seuls induisent la vitesse de connexion sur notre Plateforme. Nous n’avons aucune responsabilité sur la vitesse de connexion ou sur les transmissions d’informations effectuées sur la Plateforme.<br><br>



    Nous ne pourrons être tenus responsables en cas de poursuites judiciaires à votre encontre :<br>

     - du fait de l’usage de la Plateforme ou de tout service accessible via internet ;<br>

     - du fait du non-respect par vous des présentes CGU.<br><br>



    Nous nous efforcerons de fournir un accès et une utilisation de la Plateforme 24 heures sur 24 et 7 jours sur 7, sauf en périodes de maintenance qui seront immédiatement portées à votre connaissance. Nous nous efforcerons de réaliser ces opérations de maintenance sur des plages horaires spécifiques afin de limiter la gêne occasionnée pour vous.<br><br>

    Nous ne pourrons pas être tenus pour responsables des interruptions de fonctionnement de la Plateforme, ni de leur fréquence, ni de leur durée, et ce pour quelque motif que ce soit.</p>






    <h4>Résiliation</h4>



    <p>Vous pouvez exiger la clôture de votre compte en nous contactant à l’adresse e-mail suivante : support@woonies.com.<br><br>



    Nous nous réservons le droit de clôturer le compte d’un Utilisateur de plein droit, sans délais, sans préavis et sans indemnité notamment dans les cas suivants :<br>

     - Utilisation des Services contraire à la loi, à l’ordre public et aux bonnes mœurs ;<br>

     - Agissement affectant le fonctionnement des Services ;<br>

     - Perte ou détournement des Identifiants ;<br>

     - Réalisation d’une action prohibée telles que définies dans les présentes CGU et, plus généralement ;<br>

     - Non-respect d’une ou plusieurs stipulations des présentes CGU.</p>






    <h3 class="lineblue">Protection des Données personnelles</h3>



    <p>Nous nous engageons à vous garantir un accès et une utilisation sécurisés aux Services. Nous accordons une grande importance à la protection et à la sécurité de vos Données personnelles.<br><br>



    Nous nous engageons à prendre toutes les mesures nécessaires permettant de garantir la sécurité, l’intégrité, la confidentialité et la disponibilité des informations traitées.<br><br>



    Nous nous engageons à veiller à ce que les personnes autorisées à traiter les Données à caractère personnel dans le cadre de votre utilisation de la Plateforme :<br>

     - s’engagent à respecter la confidentialité ou soient soumises à une obligation légale appropriée de confidentialité ; <br>

     - reçoivent la sensibilisation et la formation nécessaires en matière de protection des données à caractère personnel.<br><br>



    Nous traitons uniquement les Données personnelles strictement nécessaires à l’utilisation de la Plateforme et des Services fournis. Nous vous garantissons que nous apportons toutes les mesures de sécurité technique et organisationnelle requises par le Règlement général sur la protection des données personnelles (RGPD) du 27 avril 2016, par la loi informatique et libertés modifiée n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, ainsi que par toute législation ou réglementation applicable en matière de protection et sécurité des données personnelles.<br><br>



    Nous avons établi une Politique de protection des données personnelles que nous vous invitons à lire.<br><br>



    Dans le cadre de votre utilisation de la Plateforme, vous accéderez à des Données à caractère personnel d’autres Utilisateurs. Dans ce cas, vous devez vous abstenir de toute collecte, de toute utilisation non autorisée et de tout acte pouvant constituer une atteinte à la vie privée ou à la réputation des personnes. Nous déclinons toute responsabilité à cet égard, et vous êtes seul responsable.</p>






    <h3 class="lineblue">Support et assistante technique</h3>



    <p>Nous vous fournissons un service de support technique dans le cadre de votre utilisation de la Plateforme. Afin d’accéder à ce support, vous pouvez nous contacter à l’adresse e-mail suivante : support@woonies.com.<br><br>



    Nous nous efforcerons de vous répondre dans les meilleurs délais compte tenu des heures d’ouverture habituelles de nos bureaux.</p>






    <h3 class="lineblue">Lien avec des sites tiers</h3>



    <p>La mise en place par vos soins de tous liens hypertextes vers tout ou partie de la Plateforme est strictement interdite, sauf autorisation préalable, expresse et écrite de notre part. Nous sommes libres de refuser une autorisation de lien hypertexte sans avoir à justifier de quelque manière que ce soit notre décision. Dans le cas où vous avez obtenu notre autorisation, celle-ci ne sera dans tous les cas que temporaire et pourra être retirée à tout moment, sans obligation de motivation de la décision de retrait. Nous ne sommes pas responsables des liens hypertextes pointant vers la présente Plateforme.<br><br>



    Ces dispositions ne s’appliquent pas aux partages, par vous, de l’existence de la Plateforme sur des réseaux sociaux ou tout autre moyen de communication dont l’objectif est de promouvoir nos Services et d’en faire part à votre entourage.<br><br>



    En cas de liens hypertextes vers des sites tiers présents sur la Plateforme, nous nous dégageons de toute responsabilité quant au contenu, au fonctionnement et à la sécurité de ces sites, et aux contenus vers lesquels ces sites seraient susceptibles de renvoyer.</p>






    <h3 class="lineblue">Contenu publié sur Woonies et propriété intellectuelle</h3>



    <p>Toutes les marques, photographies, textes, dessins, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques et éléments de reproduction utilisés pour faire fonctionner la Plateforme sont protégés par les lois en vigueur notamment l’article L. 111-1 et suivants du code de la propriété intellectuelle.<br><br>



    Les logos, icônes et puces graphiques représentés sur la Plateforme sont protégés au titre des droits d'auteur et des articles L. 511-1 et suivants du code de la propriété intellectuelle relatifs à la protection des modèles déposés. Les reproductions, sur un support papier ou informatique, de ladite Plateforme et des œuvres qui y sont reproduites sont autorisées sous réserve qu'elles soient strictement réservées à un usage personnel excluant tout usage à des fins publicitaires, commerciales ou d'information, et/ou qu'elles soient conformes aux dispositions de l'article L. 122-5 du code de la propriété intellectuelle.<br><br>



    L’ensemble des éléments du contenu de la Plateforme (textes, images, données, dessins, graphiques, photos et bandes sonores…) et l’ensemble des éléments relatifs à sa forme (choix, plan, disposition des matières, moyens d’accès aux données, organisation des données…) sont la propriété entière et exclusive de Woonies ou de ses partenaires. Toute reproduction, représentation, adaptation, utilisation ou modification, par quelque procédé que ce soit et sur quelque support que ce soit, de tout ou partie de la Plateforme, de tout ou partie des différentes œuvres qui la composent, sans avoir obtenu l'autorisation préalable expresse et écrite de Woonies, est strictement interdite et constitue un délit de contrefaçon sanctionné par les articles L. 335-2 et suivants du code de la propriété intellectuelle.<br><br>



    Par exception, certains contenus (textes, images) sont la propriété de leurs auteurs respectifs.<br><br>



    Les marques présentes sur la Plateforme et celles des partenaires de Woonies ainsi que les logos figurant sur la Plateforme sont des marques déposées en France et/ou à l’International sous différentes déclinaisons. Toute reproduction intégrale ou partielle de ces marques ou de ces logos, effectuée à partir des éléments de la Plateforme sans l’autorisation préalable, expresse et écrite de Woonies, est interdite, au sens de l’article L. 713-2 du code de la propriété intellectuelle. Toute utilisation du contenu de la Plateforme à des fins illégales fera l’objet de poursuites judiciaires à l’égard des contrevenants.<br><br>



    Les bases de données figurant sur la Plateforme sont protégées par les articles L. 341-1 et suivants du code de la propriété intellectuelle. Toute tentative d’accès, extraction ou réutilisation qualitativement ou quantitativement substantielle du contenu des bases de données sera sanctionnée par les dispositions du code de la propriété intellectuelle.<br><br>



    Les photographies commerciales décrivant les services fournis ne sont pas contractuelles et n’engagent pas Woonies. Elles sont délivrées uniquement à titre indicatif.</p>






    <h3 class="lineblue">Modification et mise à jour des CGU</h3>



    <p>Nous nous réservons le droit de réviser, pour quelque motif que ce soit, les présentes CGU à tout moment et sans préavis.<br><br>



    Nous nous engageons à publier les modifications sur la Plateforme, et à indiquer clairement et visiblement la date de mise à jour et l’identification de la dernière version du présent document.<br><br>



    Votre utilisation de la Plateforme au jour des modifications apportées vaudra acceptation des présentes CGU révisées.</p>






    <h3 class="lineblue">Force majeure</h3>



    <p>Nous pourrons être tenus responsables des dommages, directs ou indirects, résultant d’événements de force majeure tels que définis à l’article 1218 du code civil.<br><br>



    En cas d’empêchement persistant dû à un événement de force majeure, les relations contractuelles conclues prendront fin conformément aux articles 1351 et 1351-1 du code civil.
    </p>





    <h3 class="lineblue">Prévention et règlement amiable des litiges</h3>



    <p>Afin de prévenir d’éventuels litiges, le moindre désaccord dans l’interprétation, l’exécution ou l’application des présentes CGU fera l’objet de discussions préalables afin d’éviter les conflits et tout contentieux.<br><br>



    En cas de litige persistant, les Parties aux présentes CGU s’engagent à privilégier, en amont de tout contentieux, un règlement à l’amiable dans la limite des volontés respectives de chacune d’entre elles.</p>





    <h3 class="lineblue">Renonciation et indépendance des clauses contractuelles</h3>



    <p>Tout échange électronique et manuscrit constitue une preuve valable et un écrit original que chaque partie peut soumettre en cas de litige, conformément à l’article 1366 du code civil qui énonce que l'écrit électronique a la même force probante que l'écrit sur support papier, sous réserve que puisse être dûment identifiée la personne dont il émane et qu'il soit établi et conservé dans des conditions de nature à en garantir l'intégrité.<br><br>



    Conformément à l’article 1379 du code civil, toutes copies fiables et fidèles de ces écrits et échanges électroniques peuvent constituer une preuve. Nous vous invitons donc à conserver tous vos échanges avec nous.</p>






    <h3 class="lineblue">Renonciation et indépendance des clauses contractuelles</h3>



    <p>La renonciation, par une partie, à poursuivre un manquement à une disposition des présentes CGU ne doit pas être interprétée comme une renonciation à poursuivre un manquement ultérieur à la même disposition par cette partie ou le manquement à une autre disposition des CGU.<br><br>



    Dans le cas où certaines dispositions des présentes CGU seraient rendues inapplicables, pour quelque motif que ce soit, les Parties s’engagent à appliquer les autres dispositions et à apporter toute la collaboration nécessaire afin de remédier aux dispositions inapplicables.<br><br>



    De façon générale, les Parties s’efforceront de respecter l’application stricte des présentes CGU et l’esprit de celles-ci.</p>






    <h3 class="lineblue"> Loi applicable et tribunaux compétents</h3>

    <p>Les présentes CGU de la Plateforme sont et seront régies par la loi française et soumises à la compétence des tribunaux de commerce de Paris, même en cas de pluralité des défendeurs, d’appel en garantie ou de procédure en référé.<br><br>



    Si une juridiction compétente déclare une clause des présentes CGU nulle ou invalide, cette clause ne sera invalidée que dans la mesure du strict nécessaire sans affecter la validité globale de ces CGU qui demeureront tout de même en vigueur. </p>


  </div>
</section>
