<div class="navbarseethrough" style="margin: 23.5px">
  <%= link_to root_path do %>
    <%= image_tag "logo-pink.png", height: 47 %>
  <% end %>
</div>

<section id="contact-section">
  <div class="contact-wrapper">
    <div class="coq-wrapper">
      <div class="coq-container"></div>
    </div>
    <div class="contact-content">
      <span>Contact</span>
      <h1>Pour toute question</h1>
      <h4>Professionnels</h4>
      <p class="cat-conatct">Si vous êtes assistant(e) maternel(le)</p>
      <p class="">assmat@woonies.com</p>
      <p class="cat-conatct">Un établissement d'accueil du jeune enfant</p>
      <p class="">eaje@woonies.com</p>
      <hr>
      <h4>Parents</h4>
      <p class="cat-conatct">Pour toute question, contactez-nous à</p>
      <p class="">parent@woonies.com</p>
      <hr>
      <h4>Technique</h4>
      <p class="cat-conatct">Contactez notre service support</p>
      <p class="">support@woonies.com</p>
      <hr>
      <h4>Communication</h4>
      <p class="cat-conatct">Pour les partenariats et les demandes presse</p>
      <p class="">communication@woonies.com</p>
      <hr>
      <h4>Autres</h4>
      <p class="cat-conatct">Pour toute autre question</p>
      <p class="">hello@woonies.com</p>
    </div>
  </div>
</section>
