<div class="navbarseethrough in-contact">
  <%= link_to root_path do %>
    <%= image_tag "logos/logo_std.svg", height: 47 %>
  <% end %>
</div>

<section id="contact-section">
  <div class="gommette-pages-img">
    <%= image_tag "pages-contact/gommette_contact.svg", height: 145 %>
  </div>
  <div class="contact-wrapper">
    <div class="coq-wrapper">
      <div class="coq-container"></div>
    </div>
    <div class="contact-content">
      <span>Contact</span>
      <h1>Pour toute question</h1>
      <h4>Professionnels</h4>
      <p class="cat-contact">Si vous êtes assistant(e) maternel(le)</p>
      <p><a href="mailto:assmat@woonies.com">assmat@woonies.com</a></p>
      <p class="cat-contact">Un établissement d'accueil du jeune enfant</p>
      <p><a href="mailto:eaje@woonies.com">eaje@woonies.com</p>
      <hr>
      <h4>Parents</h4>
      <p class="cat-contact">Pour toute question, contactez-nous à</p>
      <p><a href="mailto:parent@woonies.com">parent@woonies.com</a></p>
      <hr>
      <h4>Technique</h4>
      <p class="cat-contact">Contactez notre service support</p>
      <p><a href="mailto:support@woonies.com">support@woonies.com</a></p>
      <hr>
      <h4>Communication</h4>
      <p class="cat-contact">Pour les partenariats et les demandes presse</p>
      <p><a href="mailto:communication@woonies.com">communication@woonies.com</a></p>
      <hr>
      <h4>Autres</h4>
      <p class="cat-contact">Pour toute autre question</p>
      <p><a href="mailto:hello@woonies.com">hello@woonies.com</a></p>
    </div>
  </div>
</section>
