<div class="navbardarkblue">
  <%= link_to root_path do %>
    <%= image_tag "logos/logo_blanc.svg", height: 28 %>
  <% end %>
</div>
<section id="cgu-section">
  <div class="cgu-container">
    <h1>POLITIQUE RELATIVE AUX <span class="linepink">COOKIES</span></h1>
    <h4>Applicable à compter du 1er septembre 2019 </h4>
    <h3 class="lineblue">Utilisons-nous des Cookies ?</h3>
    <p>



    Comme le stipule l’article 8.1 de notre Politique de protection des données personnelles, nous sommes susceptibles de traiter les informations concernant votre visite de la Plateforme, telles que les pages consultées, les recherches effectuées exclusivement dans le but : <br>

     - de personnaliser les services offerts et optimiser votre expérience Utilisateur ;<br>

     - d’analyser, de façon globale et entièrement anonyme, l’utilisation de la Plateforme pour en améliorer le contenu et nos Services.<br><br>



    Nous n’utilisons aucun Cookie permettant le ciblage publicitaire sur notre Plateforme. Vos informations ne sont donc pas traitées ou revendues à des fins publicitaires à des tiers. Elles ne sont transférées qu’à nos Sous-traitants participant à la fourniture de nos Services. </p>






    <h3 class="lineblue">Qu’est-ce qu’un Cookie ?</h3>



    <p>Un Cookie est un petit fichier d’information envoyé sur votre navigateur et enregistré au sein de votre terminal (ex : ordinateur, smartphone).<br>

    Un Cookie comprend des informations telles que votre nom de domaine, votre fournisseur d’accès Internet, votre système d’exploitation, ainsi que la date et l’heure d’accès.<br>

    Les Cookies ne risquent en aucun cas d’endommager votre terminal.</p>






    <h3 class="lineblue">A quoi servent nos Cookies ?</h3>



    <p>Nous utilisons trois types de Cookies :<br>

     - Les Cookies purement techniques nécessaires au bon fonctionnement de notre Plateforme et à sa sécurité. Ainsi, ces Cookies ne sont pas soumis à votre consentement. Vous pouvez tout de même vous opposer à leur dépôt ou les supprimer de votre terminal dans les paramètres de votre navigateur, cela risquant néanmoins de dégrader votre expérience Utilisateur.<br>

     - Les Cookies fonctionnels qui nous permettent de personnaliser votre expérience Utilisateur tout au long de votre session et sont donc importants pour l’amélioration de nos Services.<br>

     - Les Cookies de mesure d’audience, à de pures fins d’analyses statistiques, qui nous permettent d’optimiser notre Plateforme en fonction de l’utilisation globale faite par l’ensemble de nos Utilisateurs.</p>







    <h4>Cookies purement techniques :</h4>



    <span>
      <table>
        <tr>
          <td class="tab-first-column">
            Bandeau cookies <br>
            mémorise la fermeture du bandeau d’information sur l’usage des cookies
          </td>
          <td>13 mois</td>
          <td>Accepté</td>
        </tr>
        <tr>
          <td class="tab-first-column">
            Cookies Woonies <br>
            mémorise vos choix relatifs aux cookies.
          </td>
          <td>13 mois</td>
          <td>Accepté</td>
        </tr>
        <tr>
          <td class="tab-first-column">
            Authentification <br>
            détecte si vous êtes un Utilisateur connecté ou non
          </td>
          <td>Session</td>
          <td>Accepté</td>
        </tr>
        <tr>
          <td class="tab-first-column">
            Session <br>
            mémorise vos choix pour vous permettre de naviguer d’une page à l’autre sans les perdre
          </td>
          <td>Session</td>
          <td>Accepté</td>
        </tr>
      </table>
    </span>





    <h4>Cookies fonctionnels :</h4>


    <span>


      <table>
        <tr>
          <td class="tab-first-column">
            Statistiques <br>
            permet de récupérer des informations globales et anonymes pour améliorer nos services
          </td>
          <td>13 mois</td>
          <td>Accepté</td>
        </tr>
      </table>



    </span>





    <h4>Cookies de mesure d’audience :</h4>


    <span>


      <table>
        <tr>
          <td class="tab-first-column">
            Google Analytics (_ga) <br>
            identifie un Utilisateur déjà venu sur le site pour comptabiliser uniquement les visites uniques efficacement
          </td>
          <td>13 mois</td>
          <td>Modifier</td>
        </tr>
        <tr>
          <td class="tab-first-column">
            Google Analytics (_gid) <br>
            identifie un Utilisateur déjà venu sur le site sur une même journée (24 heures)
          </td>
          <td>24 heures</td>
          <td>Modifier</td>
        </tr>
      </table>


    </span>

    <br><br><br>



    <h3 class="lineblue">Conformité de Google Analytics</h3>



    <p>Google Analytics est une solution de mesure d’audience paramétrée pour être conforme aux exigences de la CNIL. Ce Cookie est accepté par défaut mais vous avez la possibilité de vous y opposer à tout moment et de refuser tout suivi de Google Analytics au moyen des outils fournis par Google.<br><br>



    Nous avons pris les mesures suivantes afin de bénéficier de la dispense de recueil de votre consentement :<br>

     - Vous pouvez vous opposer à tout moment de depuis tout navigateur et tout terminal à ces Cookies.<br>

     - Nous avons fait en sorte que les Cookies servent uniquement à la production de statistiques anonymes, notamment nous avons retiré les deux derniers chiffres du format d’adresse IP collecté pour ne pas géolocaliser plus précisément qu’au niveau communal.<br>

     - Nous avons configuré Google Analytics pour que les données collectées ne soient pas recoupées avec d’autres Traitements et que les Cookies ne nous permette pas de suivre votre navigation sur d’autres sites internet.<br>

     - Nous avons limité la durée de vie des Cookies à 13 mois à compter de la première visite.</p>






    <h3 class="lineblue">Comment paramétrer les Cookies ?</h3>



    <p>Vous pouvez configurer votre navigateur pour qu’il vous permette de décider si vous souhaitez ou non accepter les Cookies, de manière à ce que des Cookies soient enregistrés dans votre terminal ou, au contraire, qu’ils soient rejetés, soit systématiquement, soit selon leur émetteur.<br><br>

    Vous pouvez également configurer votre logiciel de navigation de manière à ce que l’acceptation ou le refus des Cookies vous soient proposés ponctuellement, avant qu’un Cookie soit susceptible d’être enregistré dans votre terminal.<br>


    Chrome <strong>supprimer, autoriser et gérer les cookies dans Chrome</strong><br>



    Firefox <strong>activer et désactiver les cookies dans Firefox</strong><br>



    Internet Explorer <strong>supprimer et gérer les cookies dans Internet Explorer</strong><br>



    Opera <strong>gérer les préférences web dans Opera</strong><br>



    Safari <strong>gérer les cookies et les données de site web dans Safari sur Mac</strong> et <strong>effacer l'historique et les cookies enregistrés dans Safari sur Iphone, Ipad, Ipod touch</strong></p>






    <h3 class="lineblue">Plus d’informations</h3>



    <p>Pour retrouver plus d’informations sur les Cookies, rendez-vous sur le site internet de la CNIL : <a class="cgu-mailto" href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser">https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</a>. </p>
  </div>
</section>
