<div class="navbarseethrough in-contact">
  <%= link_to root_path do %>
    <%= image_tag "logos/logo_std.svg", height: 47 %>
  <% end %>
</div>

<section id="contact-section">
  <div class="contact-wrapper">
    <div class="coq-wrapper">
      <div class="coq-container"></div>
    </div>
    <div class="contact-content">
      <h1>Guide des modes de garde !</h1>
      <%= image_tag "pictures/guide_garde.png", height: 165 %>
      <p>Renseignez votre adresse e-mail et recevez gratuitement votre guide complet des modes de garde ! <br><br></p>
      <form action="" class="guide-request">
        <label for="e-mail">Adresse e-mail</label>
        <input type="text" class="text" placeholder="hello@woonies.com">
        <input type="submit" class="submit" value="Envoyer">
      </form>
    </div>
  </div>
</section>
