<div class="navbarseethrough" style="margin: 23.5px">
  <%= link_to root_path do %>
    <%= image_tag "logo-pink.png", height: 47 %>
  <% end %>
</div>

<section id="contact-section">
  <div class="contact-wrapper">
    <div class="coq-wrapper">
      <div class="coq-container"></div>
    </div>
    <div class="contact-content">
      <span>Contact</span>
      <h1>Pour toute question</h1>
      <h4>Professionnels</h4>
      <p class="cat-conatct">Si vous êtes assistant(e) maternel(le)</p>
    </div>
  </div>
</section>
