<div class="navbarseethrough">
	<%= link_to root_path do %>
	  <%= image_tag "logo.png", height: 43 %>
	<% end %>
</div>

<div id="section1">
	<div id="section1A">
		<h1 class="TargetTitle">Professionnels</h1>
		<h2>Pré-inscrivez-vous !</h2>
		<p>Vous pourrez ainsi <strong>créer votre profil professionel en avant première</strong> et être les premiers alertés du lancement !</p>
	</div>
	<div id="section1B">
		<h1 class="TargetTitle">Parents</h1>
		<h2>Bientôt disponible...</h2>
		<p>Indiquez votre adresse e-mail et recevez <strong>gratuitement notre guide complet des modes de garde !</strong></p>
	</div>
</div>
