<div class="navbardarkblue">
  <%= link_to root_path do %>
    <%= image_tag "logos/logo_blanc.svg", height: 28 %>
  <% end %>
</div>

<section id="cgu-section">
  <div class="cgu-container">
    <h1><span class="linepink">Mentions</span> légales</h1>
    <h4 class="lineblue">Qu'est-ce que Woonies ?</h4>
    <p>CGU – Conditions Générales d’Utilisation désigne le présent document comme étant le fondement contractuel entre les Parties, à savoir les Utilisateurs et Woonies, applicables aux Services.
    <br><br>
    Plateforme Conformément à l’article 49 de la loi n°2016-1321 du 7 octobre 2016 pour une République numérique, est qualifiée d'opérateur de plateforme en ligne toute personne physique ou morale proposant, à titre professionnel, de manière rémunérée ou non, un service de communication au public en ligne reposant notamment sur la mise en relation de plusieurs parties en vue de la vente d'un bien, de la fourniture d'un service ou de l'échange ou du partage d'un contenu, d'un bien ou d'un service. <br>
    Woonies est donc un opérateur de plateforme. A ce titre, le terme Plateforme désigne indifféremment le Site www.woonies.fr et ses déclinaisons ou les Applications « Woonies » disponibles sur smartphone et tablette, assurant la fourniture des Services proposés par Woonies.
    <br><br>
    Services désigne les services de mise en relation entre Professionnels de la petite enfance et les Parents qui sont fournis par Woonies.
    <br><br>
    Parents désigne les pères et/ou mères et/ou dépositaires de l’autorité parentale (personnes physiques) disposant d’un compte et utilisant les services digitaux de Woonies.
    <br><br>
    Parties désigne l’Utilisateur et Woonies.
    <br><br>
    CGU – Conditions Générales d’Utilisation désigne le présent document comme étant le fondement contractuel entre les Parties, à savoir les Utilisateurs et Woonies, applicables aux Services.
    <br><br>
    Plateforme Conformément à l’article 49 de la loi n°2016-1321 du 7 octobre 2016 pour une République numérique, est qualifiée d'opérateur de plateforme en ligne toute personne physique ou morale proposant, à titre professionnel, de manière rémunérée ou non, un service de communication au public en ligne reposant notamment sur la mise en relation de plusieurs parties en vue de la vente d'un bien, de la fourniture d'un service ou de l'échange ou du partage d'un contenu, d'un bien ou d'un service. <br>
    Woonies est donc un opérateur de plateforme. A ce titre, le terme Plateforme désigne indifféremment le Site www.woonies.fr et ses déclinaisons ou les Applications « Woonies » disponibles sur smartphone et tablette, assurant la fourniture des Services proposés par Woonies.
    <br><br>
    Services désigne les services de mise en relation entre Professionnels de la petite enfance et les Parents qui sont fournis par Woonies.
    <br><br>
    Parents désigne les pères et/ou mères et/ou dépositaires de l’autorité parentale (personnes physiques) disposant d’un compte et utilisant les services digitaux de Woonies.
    <br><br>
    Parties désigne l’Utilisateur et Woonies.</p>
  </div>
</section>
