<div class="navbardarkblue">
  <%= link_to root_path do %>
    <%= image_tag "logos/logo_blanc.svg", height: 28 %>
  <% end %>
</div>
<section id="cgu-section">
  <div class="cgu-container">
    <h1><span class="linepink">Mentions</span> légales</h1>
    <h3 class="lineblue">Qu'est-ce que Woonies ?</h3>
    <p>Site www.woonies.com et ses déclinaisons <br><br>


    Au regard des exigences de la loi pour la confiance dans l’économique numérique, les utilisateurs du Site doivent recevoir les informations ci-après : <br><br>


    Propriétaire et éditeur du Site Woonies, Société par actions simplifiée (SAS) au capital de 500 euros, immatriculée au RCS de Paris sous le numéro SIREN 844 079 632, dont le siège social est situé au 44 rue Pasquier, 75008 Paris et dont le numéro de TVA intracommunautaire est FR73844079632. <br><br>


    Hébergeur du Site Amazon Web Services (AWS) EMEA, Société à responsabilité limitée (SARL), succursale française, immatriculée au RCS de Nanterre sous le numéro SIREN 831 001 334, code APE 6311Z, dont le siège social est situé au 31 place des Corolles, Tour Carpe Diem, 92400 Courbevoie et dont le numéro de TVA intracommunautaire est FR30831001334. <br><br>


    Activité de Woonies Woonies fournit une solution 100% digitale, Woonies fait le lien entre les parents et les professionnels de la petite enfance, afin de rendre simple et accessible le service de garde d’enfants. <br><br>


    Responsable de la publication Camille Masson, Présidente de Woonies, hello@woonies.com <br><br>


    Contact Woonies, 44 rue Pasquier, 75008 Paris, hello@woonies.com  </p>
  </div>
</section>
