
@import "config/fonts";
@import "config/colors";

//OUR PARTIALS
@import "staticpages/index";
@import "shared_components/index";

//GLOBAL SETUP

body {
  max-width: 1440px;
	margin: auto;
	position: relative;
  background-color: #F6F6F6;
  // box-shadow: 2px 2px 2px 1px #F9F9F9;
  background-attachment: fixed;
}

.flex {
	display: flex;
}

.spacearoundflex {
	display:flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
