
@import "config/fonts";
@import "config/colors";

//OUR PARTIALS
@import "staticpages/index";
@import "shared_components/index";

//GLOBAL SETUP

body {
  max-width: 1440px;
	margin: auto;
	position: relative;
  background: url(stickers/gommette_pink.svg) 85% 100% / 6rem;
  background-color: #FFFFFF;
  background-attachment: fixed;
}

.flex {
	display: flex;
}

.spacearoundflex {
	display:flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
