
@import "config/fonts";
@import "config/colors";

//OUR PARTIALS
@import "staticpages/index";
@import "shared_components/index";

//GLOBAL SETUP

body {
	margin: 0px;
	position: relative;
}

.flex {
	display: flex;
}

.spacearoundflex {
	display:flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
